<h1 class="mt-4">Clientes</h1>
<ol class="breadcrumb mb-4">
  <li class="breadcrumb-item active">Consulta</li>
</ol>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="alert alert-success" role="alert" *ngIf="successMessage">
        {{ successMessage }}
      </div>
      <div class="alert alert-danger" role="alert" *ngIf="errorMessage">
        {{ errorMessage }}
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-2">
      <button class="btn btn-primary" (click)="novoCadastro()"> <i class="fa fa-plus"></i> Novo</button>
    </div>
  </div>

  <br />

  <div class="row">
    <div class="col-md-12">
      <table class="table table-condensed table-hover">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Nome</th>
            <th scope="col">Cpf</th>
            <th scope="col">Data Cadastro</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let cliente of clientes">
            <th>{{ cliente.id }}</th>
            <td>{{ cliente.nome }}</td>
            <td>{{ cliente.cpf }}</td>
            <td>{{ cliente.dataCadastro }}</td>
            <td>
              <button class="btn btn-light" (click)="getClienteAtual(cliente)" routerLink="/clientes/form/{{ cliente.id }}">
                <i class="fa-solid fa-pencil"></i>
              </button>
              <button class="btn btn-light" data-toggle="modal" data-target="#modalDelete"
                (click)="getSelectedCliente(cliente)">
                <i class="fa-solid fa-trash-can"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div id="modalDelete" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <h4>Confirmação</h4>
        <div class="modal-header">
        </div>
        <div class="modal-body" *ngIf="selectedCliente">
          Deseja excluir Sr(a). {{ selectedCliente.nome }}?
        </div>
        <div class="modal-footer">
          <button class="btn btn-success" (click)="deleteCliente(selectedCliente.id)"
            data-dismiss="modal">Confirma</button>
          <button class="btn btn-light" data-dismiss="modal">Cancelar</button>
        </div>
      </div>
    </div>
  </div>

</div>